[2020-05-22 01:16] gaocegege opened #3 "[enhancement] Design v1 Model Config Specification"
We should define the specification for mediaType `application/vnd.caicloud.model.config.v1+json`.

We can refer to https://github.com/opencontainers/image-spec/blob/master/config.md

/priority p0

[2020-05-22 01:17] gaocegege opened #4 "[document request] Add Quick Start"
/priority p0

[2020-05-22 01:18] gaocegege opened #5 "[document request] Add Design Documentation"
/priority p1

[2020-05-22 01:33] gaocegege opened #6 "[enhancement] Add Test Cases"
We need more test cases to keep it robust.

/priority p2

[2020-05-22 01:40] gaocegege opened #7 "[discussion] Should We Have the ormbfile.yaml?"
Now we have the ormbfile.yaml in the directory of the model. It has some problems:

- Some model servers will return errors when serving the model
- Additional maintenance cost

We should have a final decision before the first release.

/priority p0

[2020-05-22 01:42] gaocegege commented on #7
We can refer to CNAB (bundle.json), Helm Chart (Chart.yaml) and Docker (Dockerfile)

[2020-05-22 02:02] gaocegege commented on #7
We can use the directory structure like this:

[code]

[2020-05-22 02:03] gaocegege opened #8 "[enhancement] Avoid Panic, Use Log"
Now the program will panic when it has an unexpected error. We should replace it with log.

[2020-05-22 02:05] gaocegege opened #9 "[enhancemnt] Customize the path of OCIStore cache and config.json"
OCIStore cache and config.json are used by ormb to store login information and layers for models. Now it is initialized in the current directory, we should use a home-based path (Maybe `$HOME/.cache/ormb/`) by default and support customization.

[2020-05-22 02:52] ddysher commented on #3
These designs/discussions might be useful as well:
- https://github.com/operator-framework/operator-registry/blob/master/docs/design/operator-bundle.md
- https://github.com/operator-framework/enhancements/tree/master/enhancements
- https://github.com/kubernetes/enhancements/pull/1481

[2020-05-22 02:53] ddysher commented on #3
There are discussion about merging such addon bundle in a unified structure, but I don't think it will come any time soom.

[2020-05-22 02:56] ddysher commented on #9
we can just leverage XDG?

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2020-05-22 03:26] gaocegege commented on #9
Will have a look.

[2020-05-22 03:28] gaocegege opened #11 "[feature] Validate model directory for the given format"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

We should validate the model.

Ref https://github.com/caicloud/ormb/pull/10#discussion_r429014208

/cc @codeflitting

[2020-05-22 03:28] gaocegege commented on #11
/priority p2

[2020-05-22 04:14] gaocegege commented on #9
/priority p1

[2020-05-22 09:28] #7 closed

[2020-05-23 00:38] gaocegege commented on #3
Yeah, I think CNAB and Docker Image specification is helpful for us currently.

[2020-05-23 00:39] gaocegege commented on #3
/assign @gaocegege

[2020-05-23 00:41] gaocegege opened #12 "[upstream contribution] Extend mediaType and its processor in Harbor runtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

https://github.com/goharbor/harbor/issues/12013

/assign @hyy0322 @zhujian7

[2020-05-23 00:41] gaocegege commented on #12
/priority p2

[2020-05-24 01:53] gaocegege opened #13 "[enhancement] Print More Info about Model"
Print more metadata when saving/pushing/pulling the model.

[2020-05-25 06:13] gaocegege opened #14 "[feature] Support remove command to remove the model from the local cache"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-05-25 14:38] #4 closed

[2020-05-25 15:37] gaocegege commented on #13
Blocked by #3

[2020-05-25 15:38] gaocegege commented on #9
/assign @gaocegege

[2020-05-25 15:38] gaocegege commented on #14
/help-wanted

[2020-05-26 03:50] gaocegege commented on #12
The design proposal should contains:

- [ ] Architecture
- [ ] API Design
- [ ] Implementation Details
- [ ] UE
- [ ] Development Plan

[2020-05-26 03:51] gaocegege commented on #14
/priority p2

[2020-05-27 01:58] gaocegege opened #18 "[enhancement] Support HTTP login"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now we support --insecure but it does not work when the host is a hostname instead of IP.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-05-27 02:04] gaocegege commented on #18
/cc @simon-cj

[2020-05-27 08:19] #3 closed

[2020-05-29 01:47] gaocegege commented on #12
Draft https://github.com/hyy0322/community/pull/1

[2020-05-29 01:48] gaocegege commented on #12
Slides https://docs.google.com/presentation/d/1rX7v9IhXjXEAmbJP29nkSU2RJXUrpLJujL8iemqcjnU/edit

[2020-06-02 02:58] #18 closed

[2020-06-02 02:59] #8 closed

[2020-06-02 02:59] gaocegege commented on #9
Closed by #17

[2020-06-02 02:59] #9 closed

[2020-06-04 06:53] gaocegege commented on #12
We had a presentation in Harbor community call. Now we decide to use the in-tree implementation, thus we need @huangyingwen to update the design proposal and schedule another meeting for the details.

[2020-06-04 10:56] gaocegege opened #23 "[feature] Support Model Conversion/Compression via CRD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We should support model conversion and compression. We can have a init container to pull the model from registry to local filesystem. Then we can use MMdnn or other tools to convert/compress the model, then we can push the new model with the unique tag or the desired tag.

**What you expected to happen**:

**How to reproduce it (as

[2020-06-04 11:11] gaocegege opened #24 "[feature] Dashboard UI for ormb"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

ORMB is a CLI to manage your ML models. We need a dashbaord like Harbor Portal to show the model list and the artifact details for one given model.

Besides this, we need to support creating model inference services in the UI. Maybe we should get in touch with Seldon Core community.

**What you expected to happen**:

**How to repro

[2020-06-04 11:12] gaocegege commented on #24
/priority p0

[2020-06-04 11:14] gaocegege opened #25 "[upstream contribution] Support ormb in Seldon Core and KFServing"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

ormb should be able to be used in KFServing and Seldon Core to pull/push models.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-04 11:14] gaocegege commented on #25
/priority p0

[2020-06-04 11:18] gaocegege commented on #25
https://docs.seldon.io/projects/seldon-core/en/v1.1.0/developer/community.html

[2020-06-04 11:24] gaocegege commented on #25
Seldon Core already supports multiple storage backend here github.com/SeldonIO/seldon-core/python/seldon_core/storage.py, thus it should not be hard to support ormb.

Doc is here https://docs.seldon.io/projects/seldon-core/en/v1.1.0/reference/release-0.4.0.html?highlight=s3#prepackaged-model-servers

[2020-06-04 11:27] gaocegege commented on #23
BTW, we can use Harbor Webhooks to trigger model analyzer: https://goharbor.io/docs/2.0.0/working-with-projects/project-configuration/configure-webhooks/

[2020-06-04 11:31] gaocegege commented on #24
UI is blocked by #12

[2020-06-05 03:28] gaocegege commented on #23
/priority p2

[2020-06-05 03:46] gaocegege opened #27 "[feature] Export metadat with the model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now we just export the model from the local cache. we should also support exporting ormbfile.yaml from the local cache.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

/priority p0

[2020-06-05 07:35] #14 closed

[2020-06-05 08:41] #13 closed

[2020-06-07 00:49] #27 closed

[2020-06-08 03:47] ddysher commented on #25
Is there any upstream tracking issue?

[2020-06-08 03:49] ddysher commented on #24
should this be part of ormb or model-registry?

[2020-06-08 03:49] gaocegege commented on #25
No, going to request a demo show slot in seldon core community call. Now do not have the bandwidth for it currently. I think we should have a blog post in English for it first, then the community members can know more about our project.

[2020-06-08 03:50] gaocegege commented on #24
part of model-registry.

[2020-06-08 03:51] gaocegege opened #29 "[upstream contributions] Promote Kubeflow Model Management WG"
There are some members in Kubeflow community want to establish a new WG Model Management WG. We can be part of the WG and see what we can do there.

https://groups.google.com/forum/#!topic/kubeflow-discuss/8DGqfg75qW0

[2020-06-08 04:07] ddysher commented on #25
ok, SGTM

[2020-06-08 06:37] gaocegege commented on #29
/priority p3

[2020-06-09 07:05] gaocegege commented on #12
The draft of the new in-tree proposal is ready, we will update it this week and schedule the meeting with Harbor team next week. Mainly focus on the the design of the formatter.

It does not block the UI anymore since we have a patch here https://github.com/gaocegege/harbor/commit/da3d92c54815deca96822d8f9dea3f53ae81e80e to support model in our fork.

[2020-06-09 07:06] gaocegege commented on #24
It does not block the UI anymore since we have a patch here gaocegege/harbor@da3d92c to support model in our fork.

[2020-06-09 07:09] gaocegege commented on #25
We decide to implement it in our fork first to provide the end-to-end prototype.

[2020-06-09 07:10] gaocegege commented on #23
/assign @simon-cj

@simon-cj currently has the bandwidth for it.

[2020-06-09 08:07] gaocegege opened #32 "[docs] Summarize the features in README"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

Like this https://github.com/VertaAI/modeldb

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-10 05:49] codeflitting opened #33 "[feature] Support hook when pushing models"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

For automatically update the model service, the command line tool should support hooks

/cc @gaocegege @ddysher

[2020-06-10 05:59] gaocegege commented on #33
SGTM. There are several ways to do:

- Use Harbor webhook https://goharbor.io/docs/2.0.0/working-with-projects/project-configuration/configure-webhooks/
- Implement the model-registry backend and act as the proxy to Harbor. Add the hook logic in the model-registry layer.

[2020-06-10 07:14] gaocegege opened #34 "[feature] Provide Python SDK"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We need to provide Python SDK like https://docker-py.readthedocs.io/en/stable/ to support CURD in Jupyter Notebook or Python code directly.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-10 07:20] gaocegege commented on #25
Ref #34

KFServing and Seldon Core download the model using Python code. Now we will implement our own initializer using Golang.

[2020-06-10 09:43] ddysher commented on #34
If OCI registry supports artifact like container image, then i'd expect we can use some industrial standard to interact with OCI registry?

[2020-06-10 09:48] gaocegege commented on #34
theoretically yes.

[2020-06-10 10:27] gaocegege opened #36 "[feature] Add README addition layer for model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Just like Helm Chart, each model should have its README to illustrate what the model is and how to use it. We should have a separate layer to store such the info and show it in UI.

We can use Harbor Addition mechanism to support it.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**

[2020-06-10 10:32] gaocegege commented on #34
Welcome @ZhuYuJin

Thanks for your interest for the issue. We can keep sync here.

[2020-06-10 10:56] gaocegege commented on #25
We have to fork the seldon-core to support auth for ormb. Ref https://github.com/gaocegege/seldon-core/pull/2

[2020-06-11 01:49] gaocegege opened #37 "Replace local registry with Harbor demo registry in tutorial"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We now use a local registry in tutorial, it is not user-friendly. We can use https://demo.goharbor.io instead.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-11 02:15] gaocegege opened #38 "[enhancement] Add DEBUG level for ormb"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

ORMB uses oras to communicate with the OCI registry. We should have a flag to show the debug info for oras/registry-resolver.

Maybe something like:

[code]

Since docker/registry are using logrus.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2020-06-11 05:37] gaocegege commented on #5
Four components need to be added:

- ORMB
- Dashboard
- Serving
- Conversion/analysis

[2020-06-11 05:39] gaocegege opened #39 "[feature] Support TLS verification skip flag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We should support TLS verification skip for pull/push.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-11 07:37] gaocegege opened #40 "[feature] Make exporting metada optional when exporting the model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now the metadata will be pulled and stored as orbfile.yaml when we export the model. It should be optional, maybe by flag.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-11 09:59] gaocegege commented on #25
Now we succeed to run Seldcon Core deployment with ormb in gaocegege/seldon-core#2 . But we have some modifications for it. Maybe we should try to:

- Investigate if we can use the config here to replace aws with ormb https://github.com/gaocegege/seldon-core/blob/ormb/operator/config/manager/configmap.yaml#L14

[2020-06-12 02:19] gaocegege opened #41 "[feature] Use goreleaser to build and publish Docker images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-12 02:19] gaocegege commented on #41
https://goreleaser.com/customization/docker/

[2020-06-12 02:22] gaocegege commented on #41
@ddysher

I cannot find who owns the caicloud org in DockerHub, can you help give me push access to docker.io/caicloud/ormb and docker.io/caicloud/ormb-storage-initializer?

[2020-06-12 02:32] gaocegege commented on #41
Or should we have a separate org for ormb in DockerHub?

[2020-06-12 07:40] ddysher commented on #41
I believe @pendoragon has access to the account.

It it's hard to coordinate, i'm fine with using a separate org in dockerhub.

[2020-06-12 07:42] gaocegege commented on #41
OK, let's have a separate org.

[2020-06-12 08:04] codeflitting commented on #11
At the same time, ORMB UI needs to visualize the model directory structure

[2020-06-12 08:06] gaocegege commented on #34
Ref https://github.com/deislabs/oras/issues/166

[2020-06-12 08:08] gaocegege commented on #11
I think it is a separate feature, will open a new issue for it.

[2020-06-12 08:09] gaocegege opened #42 "[feature] Show directory architecture in ormb UI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Visualize the model directory structure in UI

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-12 08:09] gaocegege commented on #11
https://github.com/caicloud/ormb/issues/42

[2020-06-12 08:12] gaocegege opened #43 "[feature] Add CI&CD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-12 08:45] gaocegege opened #44 "[feature] Blog post about Seldon core and ormb integration in English"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-12 08:45] gaocegege commented on #44
/assign @gaocegege

[2020-06-13 06:55] pendoragon commented on #41
do we need a docker hub org for our open source projects? the `caicloud` account is a user account and it is troublesome to convert it to an org(if even possible). we can create an org on docker hub if needed and whoever comes up with an org name other than `caicloud` is much appreciated :).

[2020-06-13 13:01] ddysher commented on #41
@gaocegege do you have a preferred org name?

[2020-06-13 13:04] gaocegege commented on #41
I set up a new org cleveross in Docker Hub, but I have no objection on the name.

[2020-06-14 10:52] #34 closed

[2020-06-14 11:37] gaocegege opened #46 "[feasibility research] Investigate if we can get signature without the model server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When we run the model conversion jobs, we have to setup a real model inference server first, which may be not necessary. We should investigate if we can get it directly similar to savedmodel_cli or some other tools.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2020-06-14 11:44] gaocegege commented on #24
We prefer not to place model and inference mixed in UI, since model is like Docker images, and model inference is like microservices. We do not support microservices in Harbor UI, then I think we should not keep inference in model registry UI

[2020-06-14 12:32] gaocegege opened #47 "[feature] Provider unified offline batch inference interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Investigate if we can use https://github.com/uber/neuropod to provide a unified offline batch inference interface for users. They can use ormb python sdk to download the model first then use neuropod to run offline inference.

Thanks @terrytangyuan for introducing the project.

**What you expected to happen**:

**How to reproduce i

[2020-06-14 13:37] gaocegege commented on #46
/cc @simon-cj

[2020-06-14 15:17] gaocegege opened #48 "[feature] Generate ormbfile.yaml for users"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

For these users using Python SDK, they may not want to write such a configuration file. We may need to:

- Make it optional or
- Support some parameters to generate it or
- Analyze the parameters from the model automatically.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as poss

[2020-06-15 01:18] simon-cj commented on #46
emmm, except TensorRT and PMML, others is verified, they can be extract directly, PMML is ok in theory. For TenorRT, I need analysis further.

[2020-06-15 01:38] gaocegege commented on #46
OK, we can sync the progress here.

[2020-06-15 01:44] gaocegege commented on #25
We do not need to modify seldon core code. Things we need to do for the issue is to present it in Seldon Core community.

[2020-06-15 01:53] gaocegege commented on #25
ref #44

[2020-06-15 01:53] #25 closed

[2020-06-15 02:08] gaocegege opened #49 "[feature] Release Python SDK on Python Package Index"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-15 02:34] gaocegege opened #50 "[feature] Investigate if we need to compile ormb to dynamic lib for Python SDK"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now we will use `go install` in python SDK to install ormb first and use it in the SDK. We can  Investigate if we need to compile ormb to dynamic lib for Python SDK.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-15 02:41] gaocegege commented on #47
It is related to our python SDK. Ref #49

[2020-06-15 03:25] gaocegege commented on #49
Ref https://packaging.python.org/tutorials/packaging-projects/

[2020-06-15 03:38] gaocegege opened #53 "[feature] Support STDOUT/STDERR stream redirection in Python SDK"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Now we will not output the STDOUT/STDERR of ormb when we use Python SDK in Jupyter:

![Screenshot from 2020-06-15 11-37-46](https://user-images.githubusercontent.com/5100735/84615837-a4e9d180-aefc-11ea-823e-37c33a133c0f.png)

It will output in jupyter server's log:

[code]

**What you expected to happen**:

We expect

[2020-06-15 07:46] #49 closed

[2020-06-15 07:54] gaocegege opened #54 "[chore] Replace caicloud image in Makefile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now we are using docker images with caicloud prefix, which cannot be pulled outside. We should use Docker Hub.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-15 08:01] gaocegege opened #55 "[feasibility research] Investigate if we can store the model artifact with layers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now we store the model in one layer.

**What you expected to happen**:

We should investigate if we can store it with multiple layers. We can reuse the cached layer if it is not changed.

/cc @zw0610

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-15 09:36] gaocegege opened #57 "[feat] Support signature in metadata data structure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Now we do not support signature, we should support it

/cc @simon-cj

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-15 09:36] #54 closed

[2020-06-15 09:44] gaocegege commented on #46
Do we need to get the signature for TRT plan? I think it is only used for UI. If we cannot do it without running the model server, can we claim that we do not support TRT plan signature extraction?

Same question for PMML.

[2020-06-16 01:27] simon-cj commented on #46
PMML need to get the signature to extract params, eg: model inputs and outputs, but TRT is not clear, it need to discuss in clever 1.7.0, it is planning in clever 1.7.0.

[2020-06-16 01:37] gaocegege commented on #46
SGTM

[2020-06-16 01:47] #57 closed

[2020-06-16 01:51] gaocegege opened #59 "[chore] Enable Travis CI for the repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

We need the Travis CI to CI/CD the project.

/cc @pendoragon @ddysher

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-16 01:53] gaocegege commented on #6
/assign

[2020-06-16 01:57] ddysher commented on #59
Added the repository in Travis, build status logo can be found at https://travis-ci.org/caicloud/ormb.svg?branch=master

[2020-06-16 02:18] #59 closed

[2020-06-16 02:36] ddysher commented on #23
what's the status? @simon-cj

Can we have a WIP or design doc first?  (e.g. I want to know why do we need CRD for this...)

[2020-06-16 02:46] gaocegege commented on #23
The CRD is to avoid self-maintained queue in the implementation.https://docs.google.com/document/d/1JyjCzpO0NrsIOK29i_b2vTPpYc6-ckNcCVquOCj2ooM/edit?ts=5ec22fe9#heading=h.6j6pdsfmko7y

[2020-06-16 03:14] simon-cj commented on #23
CRD design doc is provided by gaocegege， recently， I‘am updating extrat and
convert python script and verify logic by ormb. so， the crd controller is
simple now, I will complete next.

On Tue, Jun 16, 2020 at 10:46 AM Ce Gao <notifications@github.com> wrote:

[2020-06-16 03:33] ddysher commented on #23
IIUC, the CRD design should be part of model-registry, not part of ormb. Are we going to create a new repository or work in ormb directly but create a new component?

[2020-06-16 03:42] gaocegege commented on #23
Depends on the scope of ormb. We can discuss it on the meeting.

[2020-06-16 03:45] simon-cj commented on #23
for "the CRD design should be part of model-registry“, emmm, SGTM.

the second question need to discuss， @高策 <gaoce@caicloud.io> suggest work
in ormb directly last time.

On Tue, Jun 16, 2020 at 11:33 AM Deyuan Deng <notifications@github.com>
wrote:

[2020-06-16 03:55] ddysher commented on #23
LGTM

@simon-cj you are mixing Half-width & Full-width punctuation marks :)

convert python script and verify logic by ormb. so， the crd controller is
simple now, I will complete next.

[2020-06-16 04:54] gaocegege commented on #43
We need to support Python PYPI, too.

[2020-06-16 07:14] gaocegege opened #62 "[discussion] Design signature field carefully"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We need to design signature carefully to support existing features.

/cc @simon-cj Can you show your ideas here?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-16 07:27] gaocegege opened #63 "[chore] Name for the Clever community version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We cannot move the ormb and model registry to the third-party organization currently, thus we need a new repository for our open-source model registry.

The name can be os-model-registry since it is temporary, WDYT @ddysher @simon-cj @codeflitting

**What you expected to happen**:

**How to reproduce it (as minimally

[2020-06-16 08:15] simon-cj commented on #62
ok, I need to tidy up, I will comment here when complete

[2020-06-16 08:47] simon-cj commented on #62
there are the following problems:
- Do we need to uniform field？ eg： in our clever product， Tensor include `name，dims， dataType`, correspond to `name, size, dtype`  in ormb spec.
- for PMML, need to add some extra field, eg: `opType, values`.  the following code is PMML's input example:
   `"inputFields" : [ {
      "id" : "displ",
      "dataType" : "double",
      "opType" : "continuous",

[2020-06-16 08:56] gaocegege commented on #62
For PMML, should we still use Tensor here? I think it is not actually a Tensor.

[2020-06-16 10:30] simon-cj commented on #62
yes, For PMML, it is not a Tensor, maybe need to definition a special struct, but priority is low

[2020-06-16 10:31] gaocegege commented on #62
SGTM. Can you open the PR then let's review the corresponding changes there?

[2020-06-16 10:34] simon-cj commented on #62
OK, I will do it

[2020-06-16 13:45] ddysher commented on #63
I thought this depends on whether we want to separate model-registry to a standalone component or not?

[2020-06-17 01:30] gaocegege commented on #63
I think we already come to the agreement. We will make model-registry a standalone component.

[2020-06-17 01:47] gaocegege commented on #63
/hold

[2020-06-17 03:09] gaocegege commented on #63
/hold cancel

[2020-06-17 03:15] ddysher commented on #63
LGTM for the new repository.

Let's have an official name so later we can just move the org, without any re-naming (which is cumbersome)?

[2020-06-17 03:23] gaocegege commented on #63
One question here.

In the future, we will also support serving and other features. Should we have the name for the whole platform now, similar to Kubeflow?

In this case, we can name the sub-projects to simple names like model-registry and so on.

[2020-06-17 03:43] ddysher commented on #63
yeah we do....  naming is hard

[2020-06-17 03:44] gaocegege commented on #63
/assign @ddysher

Thanks for your contribution! :tada: :+1:

[2020-06-17 03:48] gaocegege commented on #63
I hope we can know from the name that the platform is the community version of Caicloud Clever.

As for the model-registry, I think it could be <project-name>-model-registry, like mlflow-model-registry.

[2020-06-17 03:49] ddysher commented on #63
![image](https://user-images.githubusercontent.com/2191361/84852885-89afcb00-b090-11ea-965a-e86677738de1.png)

[2020-06-17 10:54] zw0610 commented on #55
We can decompose a model into two dimensions, which differs in terms of how to distinguish models.

**Op/layer-wise**

This seems straightforward as we visualize models. Like a double-stranded structure, one strand represents the the op/layer with the other strand holds the corresponding parameter values. To the finest grid, a model with N ops will have 2N files, so that the oci artifacts can trac

[2020-06-18 03:16] ddysher commented on #63
@gaocegege  do you want to proceed with temp name first?

I need some inspirations......

[2020-06-18 03:18] gaocegege commented on #63
@simon-cj Do you need a new repository to store your code now?

[2020-06-18 04:02] simon-cj commented on #63
Yes, I need a new repository recently.

[2020-06-18 04:16] gaocegege commented on #63
@ddysher Then I think we can use temp-model-registry, WDYT

[2020-06-18 04:48] ddysher commented on #63
lgtm

On Thu, Jun 18, 2020 at 12:16 PM Ce Gao <notifications@github.com> wrote:

[2020-06-18 04:57] gaocegege commented on #63
OK, I will do it soon.

[2020-06-18 07:10] simon-cj opened #73 "[discussion] How to choreography model's convert and extract"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Should the extract python script be included in convert python script.
or run two pod in order, one running convert script, and then another running extract script.
@gaocegege WDYT

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-18 07:16] gaocegege commented on #73
I think we can just push the converted model to model-registry.

Then model registry will file a new CRD request to K8s to create the extraction job.

WDYT

[2020-06-18 07:48] simon-cj commented on #73
SGTM, If so, the status of convert job and extract job will manage independently.
And each job MUST to update ormbfile.yaml.

[2020-06-18 08:10] gaocegege commented on #73
Yeah I think so.

[2020-06-18 08:14] #6 closed

[2020-06-18 08:31] simon-cj commented on #73
/assign @simon-cj

[2020-06-18 09:20] simon-cj commented on #63
@gaocegege When the new repository can be created?

[2020-06-18 09:33] gaocegege commented on #63
Ref https://github.com/caicloud/org/pull/311

[2020-06-18 09:38] gaocegege commented on #63
/hold-cancel

[2020-06-19 09:26] gaocegege commented on #23
Ref https://github.com/caicloud/temp-model-registry/

[2020-06-19 09:26] #23 closed

[2020-06-23 02:44] gaocegege opened #76 "[feature] Support Python SDK on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

/cc @ZhuYuJin

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-23 08:56] gaocegege opened #77 "[docs] Add doc to show that we do not support version dir for savedmodel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

#67 removed version directory, we should show it somewhere

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-06-23 10:31] gaocegege commented on #76
https://www.python.org/dev/peps/pep-0425/

[2020-07-02 07:14] gaocegege opened #80 "[feature] Improve the performance when saving/exporting the model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]

Currently, Saving an 30M ONNX example takes about 30s.

[code]

We should optimize it.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-02 07:14] gaocegege commented on #80
Ref https://stackoverflow.com/questions/53188616/runtime-externalcode-cpu-usage-is-too-high-up-to-80

[2020-07-02 07:17] gaocegege commented on #80
It is weird. When we disabled the CGO:

[code]

I am not sure why there is a huge difference between the two tests.

[2020-07-02 07:18] gaocegege commented on #80
@simon-cj Can you also try on macOS?

[code]

[2020-07-02 07:22] gaocegege commented on #80
I am trying to check if there is any data race.

[2020-07-02 07:28] gaocegege commented on #80
Ref https://groups.google.com/g/golang-nuts/c/uytOgKskQdg

[2020-07-02 08:05] simon-cj commented on #80
on MacOS,the result as following:
[code]

the CPU is high too on MacOS.

[2020-07-02 08:10] gaocegege commented on #80
It is strange. Most time is spent on native shared libraries. I will have a deep dive into it.

Currently, we can solve it by `CGO_ENABLED=0`

[2020-07-03 06:57] simon-cj opened #82 "[feature] Add version info in goreleaser"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Now, the release don't have version info by run `ormb version`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-03 06:58] gaocegege commented on #82
/kind feature

[2020-07-03 07:01] gaocegege commented on #24
The UI will be in https://github.com/caicloud/temp-model-registry/ , thus I am going to close the issue.

[2020-07-03 07:01] #24 closed

[2020-07-03 07:02] gaocegege commented on #62
/close

I am closing it since it is merged #72

[2020-07-03 07:02] #62 closed

[2020-07-03 07:08] #80 closed

[2020-07-03 09:07] gaocegege commented on #80
Confirmed by @hezhizhen that it is not from cgo, it is from race detection instead.

[2020-07-13 09:38] gaocegege commented on #33
We are going to follow the second approach. The feature will be implemented in https://github.com/caicloud/temp-model-registry

/close

/cc @simon-cj

[2020-07-13 09:38] #33 closed

[2020-07-15 01:43] gaocegege opened #89 "[chore] Move to kleveross org"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We have a new open GitHub organization https://github.com/kleveross for ormb and some other projects. We should have a plan about how to transfer them to that org.

Things we need to deal with:

- Decide how to gitops (Prow) https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md
- Decide how to set up G

[2020-07-15 01:44] gaocegege commented on #89
/cc @ddysher @codeflitting

[2020-07-15 01:55] ddysher commented on #89
I can transfer ormb to kleveross with a click of button in GitHub, but it might require some setups.

[2020-07-15 01:58] gaocegege commented on #89
I think we can transfer ormb, temp-model-registry, and ftlib to klever first. Then we can investigate if we should setup Prow and so on for the new org.

The name of temp-model-registry should be renamed to klever-model-registry. /cc @simon-cj

Suggest transferring ftlib because @zw0610 is willing to help maintain it although he is not at Caicloud now.

[2020-07-15 02:00] gaocegege commented on #89
temp-model-registry and ormb all require refactoring work. @simon-cj and I will handle.

[2020-07-15 02:32] simon-cj commented on #89
OK, get it, I will refactoring klever-model-registry and klever-model-operator

[2020-07-15 05:57] ddysher commented on #89
Done!

https://github.com/kleveross

[2020-07-15 07:29] gaocegege opened #92 "[feature] Investigate how to support Nvidia TensorRT format"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Nvidia Triton Server has its own model repository layout. We decide using the triton server as the default model inference server, then we should investigate how to support the layout well.

/cc @simon-cj

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2020-07-15 12:47] ddysher commented on #89
/close

@gaocegege do you want to add caicloud-bot here?

[2020-07-15 12:47] #89 closed

[2020-07-15 12:52] gaocegege commented on #89
We can have a separate issue for caicloud-bot.

[2020-07-15 13:21] ddysher commented on #89
SGTM

[2020-07-15 13:26] ddysher commented on #89
https://github.com/kleveross/community/issues/2

[2020-07-15 13:26] ddysher commented on #63
we've settled to use `klever` with org name `kleveross`.

[2020-07-15 13:26] #63 closed

[2020-07-15 14:20] simon-cj commented on #92
ok, I wiil do it soon

[2020-07-15 15:19] gaocegege commented on #92
It is assigned to @FogDong .

[2020-07-15 15:19] gaocegege commented on #92
Because it is more about model inference.

[2020-07-16 01:30] gaocegege commented on #92
I think we should consider if we generate config.pbtxt in modeljob.

[2020-07-16 04:40] gaocegege commented on #46
@simon-cj Is there any progress? I did not see the logic about extracting signatures from TRT plan. Then can we claim that we do not need run a  model server to extract signatures?

[2020-07-17 04:25] gaocegege opened #95 "[feature] Documentation for ormbfile.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We need doc for ormbfile.yaml.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-17 10:06] gaocegege commented on #76
/assign ZhuYuJin

[2020-07-17 15:18] FogDong commented on #92
In our former product `Clever`, the `config.pbtxt` file is generated from `manifest.json` when the model serving is created.
Since the ormb users may need to deploy models using triton server without any other manual operations, I think we should generate `config.pbtxt` from `ormbfile.yaml` when users save the model in ormb.

For better scalability, we also need a command like `ormb env`(similar t

[2020-07-18 00:04] gaocegege commented on #92
We have a CRD modeljob which will be used to extract model signatures, can we try to generate pbtxt in the modeljob?

[2020-07-20 02:26] gaocegege commented on #55
https://github.com/kleveross/ormb/issues/55#issuecomment-645303112

I think we need framework support for all these three approaches.

[2020-07-20 10:05] judgeeeeee commented on #47
There are roughly two ways to consider:
A. Transform all models into a unified type (eg onnx. Use onnxruntime to provide inference). At this time, the task needs some resources and dependencies. It is recommended to put it in model-rejistry.
B. Use the interface to unify the model (eg Neuropod). Consider using SDK for this implementation.Using yaml to generate config used by something like Neuropo

[2020-07-20 10:18] gaocegege commented on #47
I think we are using this approach in model registry (triton inference server). But we wanna support offline inference here.

[2020-07-20 10:46] judgeeeeee commented on #47
We use the converted model for offline inference. But we need convert out model first ,maybe use model registry

[2020-07-21 01:23] gaocegege commented on #47
Personally prefer the latter.

If we can unify the API on top of models, we can support multiple framework formats. If we wanna support the offline inference, we always need an SDK, I think.

[2020-07-23 06:52] gaocegege opened #97 "[feature] Support tag subcommand"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-23 07:59] #38 closed

[2020-07-28 02:17] #97 closed

[2020-07-28 07:11] judgeeeeee commented on #46
model inference server mean trtis (triton) ？
TRT plan has has some constraints:

https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html

So if we want to extract its signatures，we should have the specific environment .

[code]

[2020-07-28 07:17] judgeeeeee commented on #47
/assign

[2020-08-05 02:39] gaocegege commented on #73
I think we already solve it in model-registry.

[2020-08-05 02:39] #73 closed

[2020-08-05 02:39] gaocegege commented on #82
/assign @simon-cj

[2020-08-05 02:40] gaocegege commented on #95
/assign @gaocegege

[2020-08-05 02:40] gaocegege commented on #48
@simon-cj Did we generate it in model registry?

[2020-08-05 02:42] gaocegege commented on #46
/assign @simon-cj

Is there any update?

[2020-08-05 02:43] simon-cj commented on #48
If upload model by dashboard, we will generate it, but if upload model by ormb command, we won't generate the ormbfile.yaml

[2020-08-05 02:43] gaocegege commented on #42
/assign @simon-cj

Maybe you can try to investigate if you are free.

[2020-08-05 02:44] gaocegege commented on #48
Yeah, I think it is what we want. Then I am going to close it.

/close

[2020-08-05 02:44] #48 closed

[2020-08-05 02:45] gaocegege commented on #39
/assign @simon-cj

We can have a flag defaults to `InsecureSkipVerify: true`, but it allows users to determine it.

[2020-08-05 02:45] gaocegege commented on #29
/assign @gaocegege

[2020-08-05 02:47] gaocegege commented on #11
/assign @simon-cj I think we also need it when uploading models in dashboard.

[2020-08-05 02:48] gaocegege commented on #32
/assign @gaocegege

[2020-08-05 02:54] simon-cj commented on #11
`validate model directory when uploading models in dashboard`, I think it should be in the model registry， not in ormb， WDYT

[2020-08-05 02:57] gaocegege commented on #11
Yeah, I think so. But we also need to validate the model in ormb side. WDYT

[2020-08-05 02:57] gaocegege opened #102 "[feature] Support README as a addition layer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When we save the model, we just save the model itself. We can add a new content layer for README. When we export the model, we export the model to `./model` and README to `.`.

/kind feature
/priority p2

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2020-08-05 02:58] gaocegege commented on #102
It is also related to Harbor. Harbor 2.1 does not support the addition layer for user-defined artifact. We need to implement the feature post 2.1

[2020-08-05 02:59] simon-cj commented on #11
I am not understant this issue, can you describe it

[2020-08-05 03:00] gaocegege commented on #11
When users run `ormb save`, we need to validate that the model is qualified.

[2020-08-05 03:00] gaocegege opened #103 "[feature] Support MLFlow Model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

MLFlow has its own model format. We should investigate if we can support it, and how.

/kind feature
/priority p2

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-08-05 03:03] simon-cj commented on #11
SGTM, I will do it

[2020-08-05 03:44] gaocegege commented on #5
/assign @gaocegege

[2020-08-05 08:30] #39 closed

[2020-08-06 01:50] #82 closed

[2020-08-06 06:54] #11 closed

[2020-08-06 06:54] simon-cj commented on #46
/assign @judgeeeeee
You implement the extract scripts， after that， I will integration with klever-model-registry

[2020-08-06 09:08] simon-cj commented on #42
The harbor store model as a blob, and it is not store the directory metadata, so if we want to show it, we must UnTar the model like `ormb export`,  there are two problems:
1. if klever-model-registry want to UnTar the model, it must pull the model, if the model is too big, the performance will be poor.
2. otherwise， if the model-registry can reach the storage of harbor, it will be OK, but will li

[2020-08-06 09:15] simon-cj commented on #40
Only export model directry, not export ormbfile.yaml, right？

[2020-08-06 09:50] gaocegege commented on #40
Some servers will check the mode directory. If it finds that there is a new file, it may fail to serve.

[2020-08-06 09:50] gaocegege commented on #40
It is P2 I think, there is no need to do it now.

[2020-08-06 09:52] gaocegege commented on #42
It does not work. Harbor do not care about the unzipped files. Maybe we could record the directory arch in config or a new content layer.

[2020-08-06 10:09] simon-cj commented on #42
Can pull only one layer？

[2020-08-06 14:12] gaocegege commented on #42
Why should we pull only one layer?

[2020-08-11 03:32] gaocegege opened #111 "[feature] Keep config in GetArtifact API with Harbor 2.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/priority p0

**What happened**:

Harbor 2.1 supports showing artifact config.json info in API, we should support it.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

/assign @simon-cj

[2020-08-11 06:50] gaocegege commented on #36
DUP with #102

[2020-08-11 06:50] #36 closed

[2020-08-20 09:19] gaocegege commented on #111
[code]

[2020-08-24 11:19] simon-cj opened #116 "[bug] ormb pull return "failed to copy: unexpected EOF""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In some case, ormb pull will return error as follow:
[code]

in this case, if rootPath is '$homd/.ormb', there are no error, but if rootPath is other directory, the error is 👆.

after analysis， the panic is occur in  harbor， harbor error as follow：
[code]
harbor's issue at https://github.com/goharbor/harbor/issues/6527

some conclus

[2020-08-26 03:00] gaocegege commented on #111
/close

[2020-08-26 03:00] #111 closed

[2020-08-26 03:04] gaocegege opened #118 "[feature] Do not require sub-directory in model if the format does not need it."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

TensorFlow savedmodel has a sub-directory in the model directory like this:

[code]

But other formats does not need it, we should not require it in other frameworks.

As you know, TRTIS requires it, too. We can make this directory in storage initializer.

**What you expected to happen**:

**How to reproduce it (as minimally and pr

[2020-08-26 03:05] simon-cj opened #119 "[discussion] How to arrange model directory structure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-08-26 07:57] simon-cj commented on #118
if so， the PR https://github.com/kleveross/ormb/commit/33b44e7bc1869d2372d194d70685598b1fb07f15 is not right, should keep it same as before？I misunderstanding？
accourding to this issue， including TensorFlow Savedmodel，there should not have  `1` directory.

[2020-08-26 08:10] simon-cj commented on #119
the issue is same as https://github.com/kleveross/ormb/issues/118

[2020-08-26 08:10] #119 closed

[2020-08-26 09:54] #118 closed

[2020-08-27 09:59] #32 closed

[2020-08-27 10:02] gaocegege commented on #12
Harbor 2.1 supports the feature, we can close it.

[2020-08-27 10:02] #12 closed

[2020-08-27 10:08] #42 closed

[2020-08-28 01:20] simon-cj commented on #116
The bug will present only harbor depoyed in k8s, and I delete registry pod, db pod, redis pod, and push model again, the bug is disappear.
May there have inconsistent data， because I set `--set persistence.enabled=false` when I install harbor.

[2020-09-07 08:34] FogDong opened #122 "[docs] Add design documentation for ormb"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind documentation
/assign @FogDong

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-09-08 10:28] gaocegege commented on #116
Did we solve it?

[2020-09-11 06:05] simon-cj commented on #116
Yes， not recurrence recently

[2020-09-11 06:09] simon-cj commented on #95
Completed? Can close？ @FogDong @gaocegege

[2020-09-11 06:13] #95 closed

[2020-09-11 06:13] #116 closed

[2020-09-14 06:11] #122 closed

[2020-09-21 08:44] simon-cj opened #132 "[feature] Sync clever model validation to klever"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Clever newest model validation https://github.com/caicloud/model-registry/pull/528

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-10-05 09:27] xieydd opened #139 "Ormb login 503 error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i login with ormb, it will be 503 error, log is below:
[code]
**What you expected to happen**:
ormb login sucessful
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
docker login is ok
[code]

[2020-10-09 01:43] gaocegege commented on #139
What's the version of harbor?

/cc @simon-cj

[2020-10-09 01:46] xieydd commented on #139
I use the latest version of harbor via helm chart.

[2020-10-09 01:46] gaocegege commented on #139
I tried to login using ormb 0.0.6 and latest harbor, it works:

[code]

[2020-10-09 01:51] simon-cj commented on #139
We are using harbor v2.1.0, you can using http(--insecure) and try again @xieydd

[2020-10-09 14:47] xieydd commented on #139
I use nginx pod ip and https port, it works.
[code]

But i meet other problem :
[code]

[2020-10-10 02:47] gaocegege commented on #139
[code]

[2020-10-10 03:21] xieydd commented on #139
haha, my mistake.

[2020-10-10 03:21] #139 closed

[2020-10-23 10:30] #103 closed

[2020-10-26 01:54] #92 closed

[2020-10-26 06:40] simon-cj commented on #41
@gaocegege  Can close this issue?

[2020-10-26 06:40] gaocegege commented on #41
I think we can. We are using GitHub Action to do it.

[2020-10-26 06:40] #41 closed

[2020-11-09 06:41] #29 closed

[2020-11-09 06:41] #5 closed

[2020-11-16 14:22] tskdsb opened #146 "[feature] auto create directory when export a model"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
when I try to export a model after pulling, I got an error:
[code]
I can't get the reason by the message, but when I created a directory called bbb, it exports successfully. So, it needs the export-directory to exist firstly.

**What you expected to happen**:
create the directory when I run `ormb export ...` like `git

[2020-11-17 02:58] judgeeeeee commented on #146
Can you show the ‘bbb’ file directory？ @tskdsb
Is there a ormbfile.yaml in your model path？

[2020-11-17 04:00] #146 closed

[2020-11-22 03:15] judgeeeeee opened #149 "[feature] update ormbfile struct for more model's signature information"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Signature in ormbfile only records layer's name.

**What you expected to happen**:

At least you need to know how many times each operation occurs

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-12-15 09:20] judgeeeeee opened #160 "[feature] changelog in release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Can we generate more useful changelogs ？

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-12-24 16:34] YikSanChan opened #164 "Broken image link in zh introduction.md"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

In https://github.com/kleveross/ormb/blob/master/docs/docs_zh/introduction.md, the image https://github.com/kleveross/ormb/blob/master/docs/docs_zh/images/intro/harbor.png is missing

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-12-25 03:37] FogDong commented on #164
Thanks for your report!

/kind bug
/assign @FogDong

[2020-12-29 07:48] #164 closed

[2021-01-05 14:34] hemantha-kumara opened #167 "ormb push error when pushing model in to harbor registry"
/kind bug

**What happened**:
Trying to push the model into the harbor registry. harbor login is successful but ormb push is failing with the below error

[code]

**What you expected to happen**:

ormb push should be successible

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[code]

[code]

[2021-01-05 14:56] gaocegege commented on #167
/assign @simon-cj @FogDong

[2021-01-05 14:58] gaocegege commented on #167
Can you please tell us What the Harbor version you are using?

[2021-01-05 15:14] hemantha-kumara commented on #167
Harbor Version v1.8.0

[2021-01-05 15:18] hemantha-kumara commented on #167
Harbor Version v1.8.0

[2021-01-05 15:27] hemantha-kumara opened #168 "How to push model into demo.goharbor.io from machine behind proxy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I am trying out ormb commands to push models into **demo.goharbor.io**

1. Executing ormb commands from Linux VM behind a proxy
2. ormb login was failing before setting https_proxy but after setting the https_proxy, ormb login is succesfful
3. ormb push is failing with connection timeout(even after setting proxy)

**What you expecte

[2021-01-05 15:31] FogDong commented on #167
Do you have a project named `KubeFlowProfiles` in your harbor? @hemantha-kumara
Right now we do not support create the project automatically so the project must be created first.

[2021-01-05 15:38] hemantha-kumara commented on #167
Yes, the project `kubeflowprofiles ` exists

![image](https://user-images.githubusercontent.com/26644179/103666001-1329da80-4f9a-11eb-93cb-20154913fb26.png)

[2021-01-05 15:44] hemantha-kumara commented on #167
The error is `Error: failed to authorize: failed to fetch oauth token` .  In our case harbor authentication is enabled using OIDC(Keycloak). This might give you some clue !

[2021-01-06 01:44] simon-cj commented on #168
Can you show us the https_proxy config? I am not sure if it’s a proxy issue.

[2021-01-06 01:57] simon-cj commented on #167
For OIDC((Keycloak), you can test that does `docker login` and `docker push` work? I doubt the issue is service token.

[2021-01-06 06:10] hemantha-kumara commented on #167
Yes, docker login and docker push work fine. I can push the docker image into the harbor.

[2021-01-06 06:13] hemantha-kumara commented on #168
I am setting an environment variable(https_proxy)  in the shell prompt before executing ormb push
`export https_proxy=<proxyhost:proxyport>`

[2021-01-06 06:31] simon-cj commented on #167
Can you upgrade Harbor to > v2.1.0, because we develop ormb with harbor community  at harbor v2.1.0, I am not sure how it work at v2.1.0 below.
I test harbor at v2.0.0, I am sure it will not show the metadata in harbor UI.
(The following image show the metadata at harbor v2.1.0)
![image](https://user-images.githubusercontent.com/17920879/103736595-86c7f800-502b-11eb-977a-23267a6ed891.png)
as for t

[2021-01-06 07:31] hemantha-kumara commented on #167
Is there any example on `how to use harbor service token ?`

[2021-01-06 07:46] simon-cj commented on #167
After install harbor, it will use default service token, it is define at https://github.com/goharbor/harbor-helm/blob/master/templates/nginx/configmap-http.yaml#L133, it is redirect to harbor-harbor-core componentt by nginx.

if you install harbor in k8s, you can execute `kubectl edit configmap harbor-harbor-nginx` to set it to default service token.
if not install harbor in k8s, you can set nginx

[2021-01-06 07:48] simon-cj commented on #167
the default config like this in k8s:
[code]

[2021-01-07 06:01] hemantha-kumara commented on #167
I tried oras push,  even oras push is failing for the same reason. I have created an issue on oras repo also https://github.com/deislabs/oras/issues/205.

here is the log for your reference
[code]

[2021-01-13 09:10] simon-cj opened #169 "[feature] impl ormb models command"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
impl `ormb models` command which is like `docker images` to list localhost models.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-01-13 09:19] simon-cj commented on #169
/assign @simon-cj

[2021-01-25 02:11] SolarisYan commented on #169
+1

[2021-01-25 17:02] MrD2 opened #173 "Error in docs (kinda annoying)"
$ ormb save gaocegege/fashion_model:v1
ref:       gaocegege/fashion_model:v1

On the landing page README.me should be

[code]

[2021-01-26 02:17] FogDong commented on #173
Apologize for the deprecated docs. 😣

/assign @FogDong

[2021-01-26 03:00] #169 closed

[2021-01-26 07:06] #173 closed

[2021-03-10 02:56] FaceGg opened #175 "您好，ormb push 的时候报错“http: server gave HTTP response to HTTPS client“"
请问有什么能在不使用”--plain-http“的情况下一劳永逸的解方法吗

[2021-03-10 06:29] FogDong commented on #175
部署 https 证书...

/cc @simon-cj

[2021-03-10 06:44] FaceGg commented on #175
@FogDong 多谢

[2021-03-10 06:44] #175 closed

[2021-03-17 07:14] FaceGg opened #176 "您好，在部署“使用 Seldon Core 启动模型服务”是遇到问题"

[2021-04-20 09:42] #176 closed

[2021-05-04 13:01] ESWZY opened #178 "Push failed for Harbor v1.10.1"
Hello!

I followed all steps of the doc, and pushed a model to demo.harbor.io (Horbor v2.2.1). However, when I pushed it to private Harbor (v1.10.1), it said 500 Internal Server Error.

The private Harbor has same configuration as demo.harbor.io, and also works fine for docker images.

Logs look like this:

[code]

[2021-05-06 10:20] FogDong commented on #178
Hi ESWZY!
You can try to use `--plain-http` if your private harbor registry is under `http`.

[2021-05-06 10:56] ESWZY commented on #178
Thanks, I tried to add `--plain-http` to the end of `ormb push 10.10.102.19/ormb/mnist:ckpt_220`, but it returned 401 Unauthorized

![image](https://user-images.githubusercontent.com/32200887/117286881-4f177280-ae9c-11eb-80bf-b574080688db.png)

BTW, I have changed my private Harbor to v2..2.0, and it successed.

[2021-07-14 21:11] gbolmier opened #179 "Support other stateful ML artifacts like transformers"
/kind feature

**What happened**:

ML models often require stateful transformers to process data for them (e.g. standard scaler). Unfortunately, this kind of artifact isn't supported as of now.

Also some ML frameworks aren't supported, yet? Especially frameworks that don't use specific serialization formats, but rely on e.g. the `pickle` protocol.

I'm not familiar with OCI stuff or the internals

[2021-07-15 01:53] gaocegege commented on #179
Hi @gbolmier

Do you mean the model with transformer structure, or some transformation functions to process the data?

https://github.com/kleveross/ormb/blob/master/pkg/model/format.go The format is defined here. You can add a new format `pickle`.

And, welcome contributions!

[2021-07-15 09:50] gbolmier commented on #179
Hi @gaocegege, thanks a lot for the prompt answer.

I'm referring to the second (e.g. standard scaler, pca, tf-idf vectorizer). These transformers are closely tied to the model, they often have hyperparameters that impact the model's performance and a state updated while processing the training data (like models). The model's performance on unseen data is dependent on the transformers used during

[2021-07-15 10:23] gaocegege commented on #179
What's your favorite srtructure? As you know, OCI supports layer-based storage like Docker Image, maybe we could discuss it further.

[2021-07-18 17:10] gbolmier opened #180 "Ease packaging and publishing process in python"
**What happened**:

My team is working with the Kubeflow platform and we're investigating using `ormb` to share and publish our ML models and other stateful artifacts like transformers (e.g. standard scaler, pca, tf-idf vectorizer) on Harbor.

As far as I understand, to publish a stateful artifact after it processed data, the following steps need to be performed:
- save the *"fitted"* artifact wit

[2021-07-18 17:12] gbolmier commented on #179
Actually, it's not really the structure which is inconvenient, it's more about writing the `ormbfile.yaml` artifact config file. I opened a separate issue (kleveross/ormb#180) to discuss this further. I'm closing this one as nothing prevents users to publish other ML artifacts like transformers.

[2021-07-18 17:12] #179 closed

[2021-07-21 07:17] gaocegege commented on #180
Yeah, I think so. Now we do not provide such SDK or sdk. I am not sure if we should implment in Python or Go. Are you using Python SDK?

[2021-07-21 07:19] gaocegege commented on #180
No problem, I think your suggestion is great. If you want to know more about image registries or the features we used in Harbor, please have a look at https://github.com/goharbor/community/blob/master/proposals/enhanced-default-processor.md

[2021-07-21 11:27] gbolmier opened #181 "Python SDK installs Linux pre-compiled binaries on Mac OS"
/kind bug

**What happened**:

`pip` installing `ormb` Python SDK installed Linux binaries on my Mac OS machine.

**What you expected to happen**:

I would expect Darwin binaries instead.

**How to reproduce it (as minimally and precisely as possible)**:

Run `pip install ormb` on a mac, then try any `ormb` command in a Python interpreter, e.g.:

[code]

or in a terminal using the installed pre-co

[2021-07-21 11:28] gbolmier commented on #180
Yes I'm using the Python SDK, but to make it work on my mac, I had to replace the downloaded pre-compiled binaries with the ones from source locally compiled (see #181).

If implemented in go, it would make sense to add a Python wrapper for data scientists. I haven’t learnt go yet so I can’t really say which one makes more sense. On my side, I would therefore be more helpful if it's done in Python

[2021-07-21 14:33] gbolmier opened #182 "[feature] Add support for `pickle` format"
/kind feature

[`pickle`](https://docs.python.org/3/library/pickle.html) is the de facto Python object serialization protocol, and is therefore used by many data scientists to serialize their ML models/artifacts.

[2021-07-21 14:54] #182 closed

[2021-08-26 06:32] VincentWei2021 opened #185 "您好，在部署“使用 Seldon Core 启动模型服务”是遇到问题"
{"level":"info","ts":1629958732.6136754,"logger":"controllers.SeldonDeployment","msg":"Scheme","SeldonDeployment":"kleveross-system/onnx-service-test002","r.scheme":{}}
{"level":"info","ts":1629958732.6136875,"logger":"controllers.SeldonDeployment","msg":"createDeployments","SeldonDeployment":"kleveross-system/onnx-service-test002","deploy":{"namespace":"kleveross-system","name":"onnx-service-test

[2021-09-02 10:41] gaocegege commented on #185
看起来是 seldon 这边出现了 null pointer exception，后来有定位到么

[2021-09-10 10:01] gaocegege commented on #181
Thanks for the issue. I will try to fix it ASAP

[2021-09-13 11:44] gbolmier opened #186 "Export command destination parameter not used without its `-d` flag"
/kind bug

**What happened**:

The export command isn't using the `destination` parameter when the `--destination` flag isn't specified.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

With `<dst>` different than `.`, which is the default.

**Anything else we need to know?**:

I'm using the python sdk which makes it quite complicated to work around the bug. I guess it'l

[2021-09-13 12:12] gaocegege commented on #186
Seems that there needs a -t by design https://github.com/kleveross/ormb/blob/master/cmd/ormb/cmd/export.go#L42

[2021-09-13 12:47] gbolmier commented on #186
Should I just fix the python sdk command then?

[code]

[2021-09-13 13:11] gaocegege commented on #186
SGTM

Can you please open an PR?

[2021-09-13 13:42] #186 closed

[2021-09-20 08:43] mishraprafful opened #188 "ORMB login should work with docker token"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:
Not able to login using docker token or docker base config.

**What you expected to happen**:
Should be able to login using docker token or docker base config.

**How to reproduce it (as minimally and precisely as possible)**:
None

**Anything else we need to know?**:
Login using password and usernme is available but

[2021-09-21 07:58] gaocegege commented on #188
SGTM, it should work. But I am not sure if it is safe to read the docker auth config.

[2021-09-21 08:30] mishraprafful commented on #188
I might be short-sighted here, but could you point me to why do you think it might not be safe.

The use-case is that I have containers that are authenticated to push and pull to my docker registry using docker tokens and config. I wish to authenticate for ORMB as well using the same, rather than having to use a USERNAME and PASSWORD using a robot account.

[2021-09-21 08:34] gaocegege commented on #188
Docker config may have more than one user/pwd. If you are an administrator and you logged in many registries locally, I am not sure if you want to share the information with ormb client. But we can add a command or argument to support such case. I think.

Maybe a command ormb auth-from-docker or something else.

[2021-09-21 08:48] mishraprafful commented on #188
Thanks, I understand the concern now. Do you think it is possible for me to contribute to this, but I would need some help to understand a few things.

[2021-09-21 08:48] gaocegege commented on #188
Thanks!

Your contribution is welcome!
 :tada: :+1:

[2021-09-21 08:53] gaocegege commented on #188
As you know, we are using `path.Join(client.rootPath, "config.json")` https://github.com/kleveross/ormb/blob/c3a53c071c311f008217ee10ddb9af5a623ccba6/pkg/oras/client.go#L58 to store the credentials. The file config.json is similar to docker config.json. What we should do is to copy the credentials from docker config.json to ormb config.json. Maybe we can just get all credentials and call ormbclien

[2021-09-21 08:56] mishraprafful commented on #188
Thanks for pointing it out, I think I can start from here soon. Will ping back if I have any more questions 🙂

[2021-09-21 09:01] gaocegege commented on #188
Sure, thanks.

[2021-09-22 02:16] gaocegege commented on #181
We may migrate to https://github.com/oras-project/oras-py in the near future. Maybe I do not have the bandwidth for it.

Thus /help-wanted

[2021-09-23 07:38] gbolmier commented on #181
Thanks for the update @gaocegege 👍

[2021-09-30 06:13] gongyu143 opened #189 "SeldonDeployment 的pod没有ready"
[root@wengwx ormb]# kubectl get all
NAME                                                READY   STATUS    RESTARTS   AGE
pod/tfserving-default-0-mnist-model-6cdfd5d-6vncx   0/2     Running   0          108m

NAME                                    TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)             AGE
service/kubernetes                      ClusterIP   10.96.0.1       <none>        443/

[2021-09-30 06:53] mishraprafful commented on #188
@gaocegege How about passing the `var credentialsFile` to NewClinet instead of copying the file if the `~/.docker/config.json` exists? (I tried this and it seems to work for me)
Also, could you tell me how can I test test these changes? Apart from the `client_test.go`

[2021-11-09 07:29] gaocegege commented on #189
Maybe you can attach to the container and find if there is a model downloaded.

[2021-11-30 18:30] gbolmier opened #195 "ORMB python sdk setup.py imports requests before installing it"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`setup.py` imports `git_release` module which imports `requests` before this latter could actually be installed as specified by `install_requires`:

https://github.com/kleveross/ormb/blob/0aae49a9a424d3d5c0e0966c807eb2e896801313/extern-sdk/python/setup.py#L33-L35

leading to installation failures of ORMB python sdk on sy

[2021-12-06 08:21] gaocegege opened #196 "Refactor with oras-go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

https://github.com/oras-project/oras/issues/181

The oras is split into the binary and the library. We should use oras-go instead of the old version oras.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-12-27 14:42] MarvinMartin24 opened #197 "[feature] Use DockerHub remote registry - Cannot Push"
What type of PR is this?

**What happened**:
Hi,
I am trying to use Dockerhub instead of a local docker registry/ Harbor.

I tried to connect ormb with my dockerhub registry with:
[code]

I can `login` and `save` but `push` send this error:
`failed commit on ref "manifest-sha256:7c5eac5fc9f76180b867c4ee67d03e51a43794365a7517aca4c83ce51faa8eb7": unexpected status: 403 Forbidden`
It sounds like it i

[2021-12-28 01:01] gaocegege commented on #197
Docker hub does not support OCI manifests I think.

[2021-12-28 01:01] gaocegege commented on #197
It does not depend on this project. OCI artifact is a feature of the image registry. We need to wait until docker hub supports it.

[2021-12-28 15:35] MarvinMartin24 commented on #197
Okay! Thank you @gaocegege

[2021-12-28 15:41] #197 closed

[2021-12-30 01:23] #195 closed

[2022-01-12 17:58] #181 closed

[2022-01-12 18:21] gbolmier opened #199 "Long term vision between ORMB and ORAS"
_Originally posted by @gaocegege in https://github.com/kleveross/ormb/issues/181#issuecomment-924526929_

Hey @gaocegege :) What's the status regarding the migration of the ORMB python sdk to [`oras-py`](https://github.com/oras-project/oras-py)? There doesn't seem to be any available resource for that since you opened oras-project/oras#166. I may give a hand on the python side if that's the only b

[2022-01-12 18:49] gbolmier opened #200 "directoryStructure set to <artifact_name> and not prepended by model/ dir"
I noticed a strange behaviour when I save and push an artifact from the root level of my docker container (`python:3.7-slim`). The `directoryStructure` metadata field is set to my artifact name without the [`ORMBModelDirectory`](https://github.com/kleveross/ormb/blob/790782890905d6c1daee5fc04c53fd049b391faa/pkg/consts/consts.go#L13) prepended to it, but if I run the save and push commands from the

[2022-01-13 01:58] gaocegege commented on #199
Personally, I prefer using the https://github.com/oras-project/oras-py but the project does not have the ETA. Thus I am not sure about it. WDYT, do you prefer the ormb python SDK?

[2022-01-13 01:59] gaocegege commented on #200
Interesting. I will dive into this issue.

[2022-01-13 01:59] gaocegege commented on #200
Do you have any clue about it now?

[2022-01-13 15:04] gbolmier commented on #200
I'm actually getting more confused now. I run the following:

[code]

which resulted in no `directoryStructure` metadata field set at all...

![Screenshot 2022-01-13 at 14 12 27](https://user-images.githubusercontent.com/25319692/149336497-b52baa28-df28-4f08-a065-f1531c368ace.png)

[2022-01-13 15:06] gbolmier commented on #199
You mean ORAS go client? [oras-project/oras-py](https://github.com/oras-project/oras-py) is still empty so I can't say 😄  (only using ORMB python sdk)

[2022-01-14 02:37] gaocegege commented on #199
Thus I think we should keep the ORMB python SDK now. I am not sure when the oras SDK is ready.

[2022-01-14 03:00] gaocegege commented on #200
I cannot reproduce it locally with ormb binary. I will try the python sdk.

[2022-01-28 15:19] gbolmier opened #202 "New release"
The last release (0.0.11) was done a year ago now. New commits have been made since, I think it would be nice to have a new release of both ORMB and the python sdk. Does someone have to bandwith for it?

[2022-01-29 08:18] gaocegege commented on #202
SGTM

[2022-01-31 08:38] gbolmier commented on #202
Seems like the [`ormb-publish`](https://github.com/kleveross/ormb/runs/4990179426?check_suite_focus=true) run failed, no binaries assets where published.

[2022-02-01 02:40] gaocegege commented on #202
Yeah it is caused by the wrong go version I think. I will try to fix it.

[2022-02-01 13:17] gbolmier commented on #202
Tested the new release, works like a charm! Thank you @gaocegege, would it be possible to also make a new release of the python sdk to pypi too?

[2022-02-04 07:42] gaocegege commented on #202
SGTM. Will do it soon.

[2022-02-04 08:46] gbolmier commented on #202
On my side, I re-implemented the `ormb.api.py` module to use `subprocess.run` instead of `subprocess.Popen` so that we can propagate shell's stderr to python . I also added exceptions handling with custom exceptions. This is what it looks like for the login command:

[code]

If you want I could create a PR this weekend to enhance the `api.py` module before you make the release.

[2022-02-07 02:04] gaocegege commented on #202
I think it works for me! Thanks for the PR!

[2022-02-07 02:23] gaocegege commented on #202
https://pypi.org/project/ormb/0.1.0/

[2022-02-07 09:03] gbolmier commented on #202
Thx @gaocegege! Tested locally 🚀

[2022-02-07 09:03] #202 closed

[2022-02-22 15:33] gbolmier opened #205 "Broken python sdk PyPI release"
/kind bug

Python sdk `0.1.0` PyPI [released distributions](https://pypi.org/project/ormb/0.1.0/#files) are partially broken.

1. The [`ormb-0.1.0.tar.gz`](https://files.pythonhosted.org/packages/3e/89/fec9ceab8dc78df016e8ed8b997b5f30efde94b35f1840f4a4de4d74f74c/ormb-0.1.0.tar.gz) source distribution doesn't contain the `git_release.py` module (was also the case in the previous release):
[code]
2.

[2022-06-01 12:06] CuteSmartTiger opened #208 "BUG REPORT: urgent"
i use  go mod tidy,but get
`
go: finding module for package github.com/deislabs/oras/pkg/oras
iov/service/authorization/cmd/rpc/internal/logic imports
        github.com/kleveross/ormb/pkg/oras imports
        github.com/deislabs/oras/pkg/oras: module github.com/deislabs/oras@latest found (v0.12.0), but does not contain package github.com/deislabs/oras/pkg/oras
`
go version 1.18

[2022-06-01 18:12] andrewm-aero opened #209 "[Bug] Save/Tag interpret numeric tags as port numbers"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug Report

/kind bug

**What happened**:

`ormb save . foo:1`

This creates a model `foo:1` with tag `latest`, which is not a valid OCI ref.

**What you expected to happen**:

A new model, with repository `foo` and tag `1` to be created

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Compare with
[code]

**Anything else we

[2022-06-16 06:00] lhray opened #211 "ormb save/ ormb push 看不到进度，模型大时以为死掉了"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: